django==5.2.8
python-environ==0.4.54
django-cors-headers==4.7.0
psycopg2-binary==2.9.11
celery==5.3.4
django-celery-beat==2.8.1
django-celery-results==2.6.0
redis==5.0.1
gunicorn
pillow==12.0.0
djangorestframework
djangorestframework-simplejwt==5.3.0
drf-yasg==1.21.10